/anaconda-22.1.tar.bz2
/anaconda-22.2.tar.bz2
/anaconda-22.3.tar.bz2
/anaconda-22.4.tar.bz2
/anaconda-22.6.tar.bz2
/anaconda-22.7.tar.bz2
/anaconda-22.8.tar.bz2
/anaconda-22.9.tar.bz2
/anaconda-22.10.tar.bz2
/anaconda-22.11.tar.bz2
